#submit_div{
    text-align: center;
    #submit_button{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
    }
}
#sign_in_div{
    text-align: center;
    line-height: 30px;
    #sign_in_text{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    #sign_in_button{
        margin: auto;
        width: auto;
    }
}
#error_div{
    text-align: center;
}
