#toolbar{
    text-align: center;
}
#submit_div{
    text-align: center;
    #submit_button{
        margin: auto;
        width: auto;
    }
}
#sign_in_div{
    text-align: center;
    #sign_in_button{
        margin: auto;
        width: auto;
    }
}
