
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Log in</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <ion-list>
        <ion-radio-group formControlName="type">
          <ion-list-header>
            <ion-label>User Type</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Customer</ion-label>
            <ion-radio value="Customer" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Employee</ion-label>
            <ion-radio value="Employee"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>User Credential</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input placeholder="user" formControlName="user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input placeholder="password" formControlName="pass" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <div id="submit_div">
        <ion-button id="submit_button" expand="full" shape="round" type="submit" [disabled]="!loginForm.valid">Submit</ion-button>
      </div>
      <div id="sign_in_div" *ngIf="isSignIn">
        <span id="sign_in_text">No account? </span>
        <ion-button id="sign_in_button" fill="clear" item-right>
            Sign in
        </ion-button>
      </div>
    </form>
  </ion-content>
