<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>E-Hotel</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-list-header>
            <ion-label>Current</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let rent of rents">
            <ion-thumbnail class="roomThumbnail" slot="start">
                <div *ngIf="rent.room.capacity == 1">
                    <img src="assets/img/room-1.png">
                </div>
                <div *ngIf="rent.room.capacity == 2">
                    <img src="assets/img/room-2.png">
                </div>
                <div *ngIf="rent.room.capacity == 3">
                    <img src="assets/img/room-3.png">
                </div>
                <div *ngIf="rent.room.capacity == 4">
                    <img src="assets/img/room-4.png">
                </div>
                <div *ngIf="rent.room.capacity > 4">
                    <img src="assets/img/room-5.png">
                </div>
            </ion-thumbnail>
            <ion-label>{{rent.room.hotel.chain.chain_name}} (room #{{rent.room.number}})
                    <p>{{rent.room.hotel.hotel_address.street}}, 
                        {{rent.room.hotel.hotel_address.city}},  
                        {{rent.room.hotel.hotel_address.state_province}} 
                        {{rent.room.hotel.hotel_address.country}}, 
                        {{rent.room.hotel.hotel_address.postalCode}}
                    </p>
                    <p>
                        Check in: {{rent.check_in_format}} / Check out: {{rent.check_out_format}}
                    </p>
            </ion-label>
        </ion-item>
        <ion-item *ngFor="let book of books">
            <ion-thumbnail class="roomThumbnail" slot="start">
                <img src="assets/img/room-4.png">
            </ion-thumbnail>
            <ion-label>{{book.room.hotel.chain.chain_name}} (room #{{book.room.number}})
                <p>{{book.room.hotel.hotel_address.street}}, 
                    {{book.room.hotel.hotel_address.city}},  
                    {{book.room.hotel.hotel_address.state_province}} 
                    {{book.room.hotel.hotel_address.country}}, 
                    {{book.room.hotel.hotel_address.postalCode}}
                </p>
                <p>
                    Check in: {{book.check_in_format}} / Check out: {{book.check_out_format}}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            <ion-label>History</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let rent of rents">
            <ion-thumbnail class="roomThumbnail" slot="start">
                <ion-icon name="calendar"></ion-icon>
            </ion-thumbnail>
            <ion-label>TESTING</ion-label>
        </ion-item>
        <ion-item *ngFor="let book of books">
            <ion-thumbnail class="roomThumbnail" slot="start">
                <ion-icon name="calendar"></ion-icon>
            </ion-thumbnail>
            <ion-label>TESTING</ion-label>
        </ion-item>
    </ion-list>
</ion-content>