<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>E-Hotel</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let book_rent of book_rents">
            <ion-thumbnail class="roomThumbnail" slot="start">
                <div *ngIf="book_rent.capacity == 1">
                    <img src="assets/img/room-1.png">
                </div>
                <div *ngIf="book_rent.capacity == 2">
                    <img src="assets/img/room-2.png">
                </div>
                <div *ngIf="book_rent.capacity == 3">
                    <img src="assets/img/room-3.png">
                </div>
                <div *ngIf="book_rent.capacity == 4">
                    <img src="assets/img/room-4.png">
                </div>
                <div *ngIf="book_rent.capacity > 4">
                    <img src="assets/img/room-5.png">
                </div>
            </ion-thumbnail>
            <ion-label>{{book_rent.chain_name}} (room #{{book_rent.room_number}}) <ion-text *ngIf="!book_rent.is_book" color="success">rented</ion-text><ion-text *ngIf="book_rent.is_book" color="warning">booked</ion-text>
                    <p>{{book_rent.address.address}}
                    </p>
                    <p>
                        Check in: {{book_rent.check_in}} / Check out: {{book_rent.check_out}}
                    </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>