<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="info" href="/tabs/(info:info)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Hotel</ion-label>
      <ion-router-outlet name="info"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button tab="room" href="/tabs/(room:room)">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Rooms</ion-label>
      <ion-router-outlet name="room"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button tab="employee" href="/tabs/(employee:employee)">
      <ion-icon name="people"></ion-icon>
      <ion-label>Employees</ion-label>
      <ion-router-outlet name="employee"></ion-router-outlet>
    </ion-tab-button>

  </ion-tab-bar> 
</ion-tabs>
