<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="info" href="/tabs/(info:info)">
      <ion-icon name="person"></ion-icon>
      <ion-label>Info</ion-label>
      <ion-router-outlet name="info"></ion-router-outlet>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isAdmin" tab="room" href="/tabs/(room:room)">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Room</ion-label>
      <ion-router-outlet name="room"></ion-router-outlet>
    </ion-tab-button>

  </ion-tab-bar> 
</ion-tabs>
