#submit_div{
    text-align: center;
    #submit_button{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
    }
}
#error_div{
    text-align: center;
}
.inputLabel{
    margin-right: 10px;
}
