<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>E-Hotel</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="filterForm" (ngSubmit)="refresh()">
        <ion-list>
            <ion-list-header>
                <ion-label>Filter</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label>Area: </ion-label>
                <ion-input placeholder="e.g Ottawa" formControlName="area"></ion-input>
                <ion-button shape="round" type="submit" [disabled]="!filterForm.valid" clear item-right>Refresh</ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Capacity: </ion-label>
                <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" formControlName="capacity" (ionChange)="onFilter()">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="0">any</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Rating (stars): </ion-label>
                <ion-range min="0" max="5" step="1" snaps="true" pin="true" formControlName="rating" (ionChange)="onFilter()">
                    <ion-icon size="small" slot="start" name="star"></ion-icon>
                    <ion-icon slot="end" name="star"></ion-icon>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label>Price ($/night): </ion-label>
                <ion-range min="80" max="500" step="1" pin="true" formControlName="price" (ionChange)="onFilter()">
                    <ion-icon size="small" slot="start" name="cash"></ion-icon>
                    <ion-icon slot="end" name="cash"></ion-icon>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label>Chain name: </ion-label>
                <ion-input placeholder="e.g Travelodge" formControlName="hotel_chain" (ionChange)="onFilter()"></ion-input>
            </ion-item>
        </ion-list>
    </form>
    <ion-list *ngIf="errorString == ''">
        <ion-list-header>
            <ion-label>Results</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let hotel of sortedHotels">
            <ion-thumbnail class="hotelThumbnail" slot="start">
                <img src="assets/img/hotel.png">
            </ion-thumbnail>
            <ion-label>{{hotel.chain_name}} ({{hotel.hotel_address.city}}, {{hotel.hotel_address.state_province}})
                    <p>
                        Rating: {{hotel.rating}} star
                    </p>
                    <p>
                        Starting: {{hotel.minPrice}} $
                    </p>
                    <ion-button shape="round" clear item-right>Book a room</ion-button>
            </ion-label>
        </ion-item>
    </ion-list>
    <div *ngIf="errorString != ''">
        <ion-text color="danger">{{errorString}}</ion-text>
    </div>
</ion-content>