<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>E-Hotel</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row class="rowHeader">
            <p>User information</p>
        </ion-row>
        <ion-row>
            <ion-col class="colHeader" size="3">
                <p>User</p>
            </ion-col>
            <ion-col>
                <p>jstpi047</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colHeader" size="3">
                <p>Full Name</p>
            </ion-col>
            <ion-col>
                <p>Jérémie St-Pierre</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="colHeader" size="3">
                <p>SIN / SSN</p>
            </ion-col>
            <ion-col>
                <p>345233553212334</p>
            </ion-col>
        </ion-row>
        <ion-row class="rowHeader">
            <p>Address</p>
        </ion-row>
        <ion-row>
            <ion-col class="colHeader" size="3">
            
            </ion-col>
            <ion-col>
                <p class="postal-address"> 123 Main St. <br> Anytown, XY 12345 </p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>