<ion-content id="main_content" padding>
<div id="credential_div">
  <ion-grid id="credential_grid" *ngIf="!isLogedIn">
    <ion-row>
      <ion-col class="CredentialCol" col-6>
        <ion-button id="sign_in" fill="clear" (click)="onSignIn()">
          Sign up
        </ion-button>
      </ion-col>
      <ion-col class="CredentialCol" col-6>
        <ion-button id="log_in" fill="clear" (click)="onLogIn()">
          Log in
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="user_div" *ngIf="isLogedIn">
    <ion-button *ngIf="userType == 'Customer'" fill="clear" (click)="presentPopover($event)">
      {{user.full_name}}
    </ion-button>
    <ion-button *ngIf="userType == 'Employee'" fill="clear" (click)="presentPopover($event)">
      {{employee.full_name}}
    </ion-button>
    <ion-button *ngIf="userType == 'Admin'" fill="clear" (click)="presentPopover($event)">
      {{admin.full_name}}
    </ion-button>
  </div>
</div>
<div id="title_div">
  <div id="title_center_div">
    <div *ngIf="userType == 'Customer'">
      <h1 id="title">E-Hotel</h1>
      <div id="input_center_div">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center>
              <ion-item id="main_input">
                <ion-input placeholder="Ottawa"></ion-input>
                <ion-button id="search_button" shape="round" clear item-right>Search</ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div *ngIf="userType == 'Employee' || userType == 'Admin'">
      <p>YO</p>
    </div>
  </div>
</div>
</ion-content>