<div id="main_div">
  <div id="credential_div">
    <ion-grid id="credential_grid">
      <ion-row>
        <ion-col class="CredentialCol">
          <a id="sign_up">Sign up</a>
        </ion-col>
        <ion-col class="CredentialCol">
          <a id="log_in">Log in</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div id="title_div">
    <div id="title_center_div">
      <h1 id="title">E-Hotel</h1>
      <div id="input_center_div">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center>
              <ion-item id="main_input">
                <ion-input placeholder="TODO: City"></ion-input>
                <ion-button id="search_button" shape="round" clear item-right>Search</ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</div>

